/*********** FONT ***********/

@font-face {
  font-family: "dance";
  src: url(../../public/Dance.woff2);
}

@font-face {
  font-family: "montserrat";
  src: url(../../public/montserrat-variablefont_wght-webfont.woff2);
}

@font-face {
  font-family: "bebasneue";
  src: url(../../public/bebasneue-regular-webfont.woff2);
}

body {
  background-color: black;
  color: white;
  font-family: "dance", sans-serif;
}

.knap {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 14px;
  color: black;
  font-family: dance;
}
