---
---

<div class="card">
  <div>
    <img class="card_img" src="https://images.pexels.com/photos/1068872/pexels-photo-1068872.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="billede" />
  </div>
  <div>
    <h2>Kunstner</h2>
    <div class="kunstner_info">
      <ul>
        <li>19. JUNE</li>
        <li>20.00</li>
        <li>BIG STAGE</li>
      </ul>
    </div>
  </div>
</div>

<style>
  .card {
    max-width: 200px;
  }
  .card_img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
  }
  .kunstner_info {
    font-family: "Montserrat", sans-serif;
    text-align: right;
  }
  li {
    list-style: none;
  }
</style>
